doctype html
html
  head
    title Log in form.
  body
    if !yourName
      form(action="/index", method="post")
        label(for="yourName") username
        input(type="text", id="yourName", name="yourName")
        label(for="yourPassword") password
        input(type="password", id="yourPassword", name="yourPassword")
        input(type="submit")
    else
      div Hello #(yourName). Welcome.
