doctype html
html
    head
      title My Secrets
      link(rel='stylesheet', href='/stylesheets/style.css')
    body
      br
      h1 Welcome to the secrets page.
      form(action="/createSecret", method="post")
        input(type="text", id="newSecret", name="newSecret", placeholder="Add a new secret")
        br
        br
        input(type="submit", value="Add") 
      br
      br
      h2 Your secrets  
      - var values = allSecrets;
      ul
        each val in values.length ? values : ['There are no values']
            li= val.secret 
                a(href='/deleteSecret/#{val.id}') Delete  
