body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   background-color: #FFF7F8;
}

a {
  color: #13C4A3;
}

h1{
   color: #32322C;
   margin-left: 10%; 
}

h2{
   color: #32322C;
   margin-left: 13%; 
}

 h4 {
     color:gray;
     margin-left: 13%;
     
 }   

form{
    margin-left:13%;  
}

input{
    border-radius: 5px;
    border: 2px solid lightgray;
    height: 30px;
}

input[type=submit] {
   border-radius: 5px;
   background-color: #13C4A3;
   width: 10%; 
   height: 36px;
}

ul {
    margin-left: 13%;
}

