doctype html
html
  head
    title Log in form.
  body
    form(method="post")
      lable(for="yourName") username
      input(type="text", id="youName", name="yourName")
      label(for="yourPassword") password
      input(type="password", id="yourPassword", name="yourPassword")
      input(type="submit")
