doctype html
html
    head
      title My Secrets
    body
      h1 Hello and welcome to the secrets page.
      form(action="/index", method="post")
        label(for="newSecret") Your new secret.
        input(type="text", id="newSecret", name="newSecret")
        input(type="submit")
      p #{newSecret}.
