doctype html
html
    head
      title My Secrets
    body
      br
      h1 Hello and welcome to the secrets page.
      form(action="/createSecret", method="post")
        label(for="newSecret") Your new secret.
        input(type="text", id="newSecret", name="newSecret")
        input(type="submit")
      - var values = allSecrets;
      ul
        each val in values.length ? values : ['There are no values']
            li= val.secret
